/01-TBM-QPH/trash
/01-TBM-QPH/MoS2_g0w0*

01-TBM-QPH/MoS2_fulldiag.gpw
01-TBM-QPH/MoS2_gs.gpw
01-TBM-QPH/MoS2_out_gs.txt
01-TBM-QPH/C6H6_minimal.png
01-TBM-QPH/C6H6_extended.png
01-TBM-QPH/C6H6_pzLOs.png
01-TBM-QPH/C4H2_extended.png
01-TBM-QPH/C4H2_minimal.png
random/
deeph3_raw_data
__pycache__/
01-TBM-QPH/Hamiltonian_matrix.png
01-TBM-QPH/deph3_raw_data/

03-train/01-10-mat
03-train/01-10-mat-xyz
03-train/01-10-mat-xyz-gw
03-train/02-16-mat-xyz-gw
*g0w0*
*.gpw
deeph3_raw_data_GW
deephe3_1
g2graph
CH-data-3-mat
02-Graph-NN/g2graph/*
02-Graph-NN/g2graph/HGraph-g2_set-5r0mn-edge=Aij.pkl
03-train/04-all-mat-xyz
01-TBM-QPH/CHON_GW
01-TBM-QPH/GW_Hamiltonian_matrix.png
05-42-CHON-GW-DFT
input
# flow
# fp-input
# *flow*
trash
other
test_data
fp-input-AAp-331
fp-input-AB-661
fp-input-all
/src/from_model/unittest/data/
src/from_model/vae_e2_minst.save/vae_e2_minst.pth
src/from_model/vae_e2_minst.save/vae_e2_minst_best.pth
src/from_model/vae_e2_wfn.save/vae_e2_wfn.pth
src/from_model/vae_e2_wfn.save/vae_e2_wfn_best.pth
src/from_model/vae_e2_minst.pth
src/from_model/vae_e2_minst_best.pth

src/single_mat_config.json
nc300
src/from_model/unittest/data/
src/from_model/tensorboard
src/from_model/data
src/from_model/log.txt
*-tensorboard/
nc300
src/from_model/test.py
dataset
vae_e2_minst.save
src/from_model/unittest/dataset_WFN.h5
src/from_model/unittest/test.py
log.txt
*save
src/from_model/e2vae_wfn_train_with_trainer_xian.py
src/from_model/xian.py

src/from_model/wfn_dataset_generate.py
src/fpconfig.json
src/fp-input/mat-5/stru.cif
src/from_model/bse_training/
examples/c2db/
c2db-1000-7-0.4
examples/other-1000/
src/from_model/data1.dat
src/from_model/data2.dat
src/from_model/bsetrainer-copy.py

*venv*

*egg*

reply
predicted_vs_original.png
